.rodape{
    background-color: #ffff;
    width: 100%;
}

.rodape__titulo{
    text-align: center;
    font-family: 'Raleway', sans-serif ;
    font-size: 17px;
    font-weight: 500;
    padding-top: 20px;
}

.rodape__texto{
    text-align: center;
    font-family: 'Raleway', sans-serif ;
    font-size: 17px;
    font-weight: 500;
   
}